/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
  padding-top: 20px;
}

/*****************************************************************************/
/* Home: Step Templates */
/*****************************************************************************/
.stdstep {
  border: 10px ridge #BCC6CC;
}
#stdstep-panel-heading {
  background-color: #282828;
  color: whitesmoke;
}
#stdstep-panel-title {
  font-weight: 600;
  font-size: 150%;
}
.help-block, .more-block {
  display: none;
}